<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <title>Weather Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Weather</h1>
      <%- include("navigation.ejs", {forecasts}) %>
    </header>
    <main>
      <% forecasts.forEach(element => { %>
        <div>
          <span>
            <h2><%=element.city %></h2>
            <p class="location"><%=element.location %></p>
          </span>
          <span>
            <p class="temp"><%=element.weather[0].temp %>°C</p>
            <img src="/static/<%=element.weather[0].icon %>.png" />
          </span>
        </div>
      <% }) %>
  </main>
  </body>
</html>